h1{
    background-color: yellow;
    color: red;
    display: inline;
}
p{
    height: 55px;
    background-color: pink;
    width: 295px;
    color: blue;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    padding-top: 30px;

}